{% extends 'base.html.twig' %}

{% block title %}HomePage
{% endblock %}

{% block body %}

    {# homepage main body block #}
    <div class="container">
        <div class="row" style="height: 65vh;">
            <div class="col-12 d-flex justify-content-center align-items-center">
                <div class="justify-content-center">
                    <h1>Make your Adverts!</h1>
                    <p class="lead fraunces mt-4 fs-4">
                        <i>Let's Add Some Products Here!</i>
                    </p>

                </div>
            </div>
        </div>
    </div>

{% endblock %}
